@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-arial bg-black text-white antialiased;
}

@layer utilities {
  .transition-colors-custom {
    transition-property:
      color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
  }
  .transition-colors-feed {
    transition-property:
      color, background-color, border-color, box-shadow, text-decoration-color,
      fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  .bio-link {
    color: #f91880;
    text-decoration: none; /* Remove underline if desired */
  }
  .bio-link:hover {
    text-decoration: underline;
  }
}
